body {
    margin: 0;
    padding: 0;
}
.contentCenter {
    padding-left: calc(50% - 585px);
    padding-right: calc(50% - 585px);
}
.menu {
    display: flex;
    justify-content: space-between;
    .menu_links {
        display: flex;
        justify-content: center; 
        align-items: center;
    }
    .menuLink {
        text-decoration: none;
        color: black;
        font-family: Gilroy-Medium, sans-serif;
        font-size: 14px;
        line-height: 16.41px;
        text-align: center;
        margin: 0 10px;    
        font-weight: 500;
    }
    .menu_home {
        color: orangered;
    }
}
.content {
    display: flex;
    gap: 41px;
    flex-wrap: wrap;
    .content_textbox {
        margin: 80px 0;
        max-width: 522px;
        .content_textBox_heading {
            font-family: Gilroy-Bold;
            font-size: 60px;
            line-height: 70.31px;
            text-align: left;
        }
        .content_textBox_text {
            font-family: Gilroy-Medium;
            font-size: 20px;
            line-height: 23.44px;
            text-align: left;
            color: #888888;
        }
        .content_buttonBox{
            display: flex;
            margin-top: 35px;
            .content_buttonBox_button {
                padding: 15px 50px;
                border-radius: 50px;
                background-color: #F25822;
                color: white;
                font-family: Gilroy-Bold, sans-serif;
                font-size: 15px;
                line-height: 17.58px;
                text-align: left;
                font-weight: 500;
                margin-right: 72px;
            }
            .content_buttonBox_text{
                font-family: Gilroy-Bold, sans-serif;
                font-size: 15px;
                line-height: 17.58px;
                text-align: left;
                color: #AAAAAA;
            }
        }
    } 
    
    .content_img {
        max-width: 607px;
    }

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer_logo {
        margin: 100px 0 ;
    }
}


